.cart-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    background-color: #fff;
}

.cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-content>div {
    margin-top: 10px;
}

.cart-content button {
    padding: 2px 20px;
    margin: 0 10px;
}

.totalPrice-conatiner {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: red;
}